{{sendNumberFoundCoins()}}
<div class="contenedorPrincipal">

    <div *ngFor="let coin of coins |found:filterFound |search:filterYear" class="card" style="width: 17rem;" id="cartaMoneda">
        <div class="card-header" id="cabezera">
            <p class="card-text" id="monedaNumero">#{{coin.coin_number}}</p>
            {{coin.name}}
        </div>
        <img class="card-img-top" src="{{coin.image}}" id="imagen">
        <div class="card-body">
            <h3 id="agnooneda">{{coin.year}}</h3>


            <div id="monedaMonedaBoton">
                <div *ngIf="coin.found; else monedaNoEncontrada" style="background-color: rgb(51, 134, 30);" (click)="addDeleteCoin(coin.id);">
                    Encontrada
                </div>
                <ng-template #monedaNoEncontrada>
                    <div style="background-color: rgb(218, 25, 25);" (click)="addDeleteCoin(coin.id)">
                        No encontrada
                    </div>
                </ng-template>
            </div>
        </div>
    </div>




</div>